div{
    color:rgb(0, 0, 0);
    padding:7px;
    margin:7px;
    text-align: left;
}
.year{
    background-color: rgb(141, 140, 143);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
}